.pre-game-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  background: rgba(0, 0, 0, 1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.character-selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: rgba(0, 0, 255, 0.95); */
  z-index: 1;
  padding: 2.5rem;
}

.difficulty-selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: rgba(255, 0, 0, 0.95); */
  z-index: 1;
  padding: 2.5rem;
}

.character-selection .characters,
.difficulty-selection .difficulty-levels {
  font-size: 11rem;
  padding: 2rem 2rem;
  display: flex;
  justify-content: space-around;
  width: 30vw;
}

.difficulty-levels .difficulty-level {
  padding: 0 2rem;
  font-size: 10rem;
}

.difficulty-levels .difficulty-level.easy,
.difficulty-levels .difficulty-level.medium,
.difficulty-levels .difficulty-level.hard {
  transition: color 0.6s ease;
}

.difficulty-level.easy:hover {
  color: rgba(0, 128, 0, 0.892);
}
.difficulty-level.medium:hover {
  color: rgba(255, 255, 0, 0.927);
}
.difficulty-level.hard:hover {
  color: rgba(255, 0, 0, 0.666);
}

.de-emphasize {
  color: #222;
}

.characters .character:hover:disabled {
  color: #222;
}

.characters .char-o,
.characters .char-x,
.difficulty-level .easy,
.difficulty-level .medium,
.difficulty-level .hard {
  transition: color 0.4s ease;
}

.characters .char-x:hover {
  color: #2a80df;
}

.characters .char-o:hover {
  color: #58b900;
}

.board-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  padding-top: 2rem;
}

.game-board {
  height: 60vh;
}

.board-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  /* margin-top: 1rem; */
}

.board .row {
  display: flex;
}

.board .box {
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.X-win button {
  color: #2a80df !important;
}

.O-win button {
  color: #58b900 !important;
}

.board .box-1,
.board .box-2,
.board .box-4,
.board .box-5,
.board .box-7,
.board .box-8 {
  border-left: solid #fff 4px;
}

.board .box-0,
.board .box-1,
.board .box-3,
.board .box-4,
.board .box-6,
.board .box-7 {
  border-right: solid #fff 4px;
}

.board .box-0,
.board .box-1,
.board .box-2,
.board .box-3,
.board .box-4,
.board .box-5 {
  border-bottom: solid #fff 4px;
}

.board .box-3,
.board .box-4,
.board .box-5,
.board .box-6,
.board .box-7,
.board .box-8 {
  border-top: solid #fff 4px;
}

.board .box button:hover {
  background: #111;
  border-radius: 5px;
  cursor: pointer;
}

.dissapear {
  z-index: -1;
  opacity: 0;
  transform: scale(0);
  transition: all 0.8s ease;
}

.announcements {
  /* background: #ccc; */
  /* position: absolute;
  top: 0;
  left: 0; */
  margin-top: 7rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12vh;
}

.announcements h2 {
  padding-top: 3rem;
  font-size: 3rem;
}

.play-again-btn {
  margin-bottom: 3rem;
  display: none;
  opacity: 0;
}

.btn-fade-in {
  animation: button-fade-in forwards 2s ease;
}

.btn-fade-out {
  animation: button-fade-out forwards 2s ease;
}

.back-btn {
  padding: 0.2rem 0.8rem;
  position: fixed;
  left: 100px;
  top: 80px;
}

@keyframes button-fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes button-fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@media (max-height: 1100px) {
  .character-selection .characters,
  .difficulty-selection .difficulty-levels {
    flex-direction: column;
    align-items: center;
  }

  .board .box {
    height: 150px;
    width: 150px;
  }
  .game-board {
    height: 50vh;
  }

  button {
    font-size: 8rem;
  }

  .btn {
    padding: 0.75rem 1.5rem;
    margin-top: 4rem;
    font-size: 1.5rem;
  }

  .back-btn {
    padding: 0.2rem 0.8rem;
    position: fixed;
    left: 55px;
    top: -10px;
  }

  .announcements {
    margin-top: 4rem;
    margin-bottom: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12vh;
  }
}

@media (max-width: 500px) {
  .character-selection .characters,
  .difficulty-selection .difficulty-levels {
    flex-direction: column;
    align-items: center;
  }

  .board .box {
    height: 110px;
    width: 110px;
  }
  .game-board {
    height: 50vh;
  }

  button {
    font-size: 5.8rem;
  }

  .btn {
    padding: 0.75rem 1.5rem;
    margin-top: 1.5rem;
    font-size: 1.5rem;
  }

  .back-btn {
    padding: 0.2rem 0.8rem;
    position: fixed;
    left: 35px;
    top: 10px;
  }

  .announcements {
    margin-top: 4rem;
    margin-bottom: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12vh;
  }

  .difficulty-levels .difficulty-level {
    padding: 0 2rem;
    font-size: 4rem;
  }

  .difficulty-levels {
    margin-bottom: 0;
  }

  .character-selection {
    font-size: 1rem;
    margin-top: 0;
  }

  .difficulty-selection {
    font-size: 1rem;
  }
}
