@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  background: #000;
  color: #eee;
}

a {
  text-decoration: none;
  color: #eee;
}

button {
  color: #eee;
  background: #000;
  border: none;
  font-size: 10rem;
  padding: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  outline: none;
}

.main-page {
  height: 95vh;
}

.intro {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #333;
  color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  animation: intro-fade-out forwards 2s ease;
}

.intro h2 {
  font-size: 15rem;
}

.intro .word-row {
  display: flex;
  justify-content: space-between;
  width: 45vw;
}

.main-page .container {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 3rem;
  animation: intro-fade-in forwards 1s ease 2s;
}

.vs-computer,
.vs-friend {
  padding: 3rem;
}

.main-page .choose-opponent {
  transition: color 0.4s ease-out;
}

.main-page .choose-opponent:hover {
  color: #2a80df;
}

.btn {
  border: #eee solid 1px;
  padding: 1.5rem 2rem;
  font-size: 2rem;
  border-radius: 5px;
  background: #000;
  color: #eee;
  outline: none;
  transition: all 0.75s ease;
}

.btn:hover {
  cursor: pointer;
  background: #eee;
  color: #000;
}

@keyframes intro-fade-out {
  from {
    opacity: 1;
    z-index: 2;
  }

  to {
    opacity: 0;
    z-index: -5;
  }
}

@keyframes intro-fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 500px) {
  body {
    /* background: red; */
  }
}
